.home {
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: var(--fs4);
}

.home_filter {
  border-bottom: 1px solid #ccc4;
}

.home_filter__item {
  width: calc(100% / 3 - var(--gap3) * 2 / 3);
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc6;
  border-radius: 10px;
  font-size: var(--fs4);
  letter-spacing: 1px;
}

.home_filter__item.active {
  background: #ccc;
  color: #333;
  font-weight: 600;
}

.home_table_box {
  width: 100%;
  padding: var(--pd2);
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap4);
}
