.header {
  max-width: 980px;
  position: sticky !important;
  top: 0;
  -webkit-stcky: 0;
  z-index: 99;
  width: 100%;
  padding: var(--pd2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.header > p {
  font-size: var(--fs2);
}

.menu {
  font-size: var(--fs2);
  cursor: pointer;
}
