:root {
  --wh: 90px;
  --iwh: 125px;
}

.res_products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.res_category {
  position: sticky;
  top: -1px;
  width: 100%;
  height: var(--iwh);
  display: flex;
  flex-wrap: wrap;
  line-height: 1.8;
  border-right: 1px solid #ccc4;
  background: #333;
} 

.res_category_box{
  width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
}

.res_category_box>span{
  padding: 1% 2%;
  font-size: var(--fs4);
  color: #fff;
  background: #333;
  letter-spacing: 1px;
  border-right: 1px solid #ccc;
}

.res_category_box .active{
  background: #ccc;
  color: #333;  
}

.res_category > p,
.res_menu > p {
  padding: 1% 5%;
  inline-size: 100%;
  font-size: var(--fs3);
  color: #fff;
}

.res_menu {
  width: 100%;
  min-height: 100vh;
  padding-bottom: calc(var(--wh) + 10px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background: #222;
}

.res_menu_box{
  width: 100%;
  padding:  1% 5%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap3);
  padding-bottom: calc(var(--iwh) + 20px);
}

.res_menu_item {
  width: calc(100% / 4 - var(--gap3) * 3 / 4);
  aspect-ratio: 3/1.9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs3);
  color: #fff;
  background: #333;
  letter-spacing: 1px;
}

.order_list_item {
  height: var(--iwh);
}

.book_order {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--wh);
  padding: 0 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333;
  border-top: 1px solid #ccc9;
}

.book_order > span{
  font-size: var(--fs3);
  color: #fff;
  letter-spacing: 1px;
}

.book_order > button {
  padding: 0 2%;
  height: 45px;
  border: none;
  border-radius: 10px;
  font-size: var(--fs4);
  color: #fff;
  background: #222;
  border: none;
}
